---
page_title: "{{.Name}} {{.Type}} - {{.ProviderShortName}}"
description: |-
  {{.Description}}
---

# {{.Name}} ({{.Type}})

{{.Description}}

## Example Usage

There are two types of Work types: Standard and Subtask.

### Standard Work Type

```terraform
resource "jira_work_type" "standard_example" {
  name = "Example Issue Type"
  # Optional
  description = "This is an example work type"
  # 0 by default for standard
  hierarchy_level = 0
}
```

### Subtask Work Type

```terraform
resource "jira_work_type" "subtask_example" {
  name = "Example Subtask Issue Type"
  # Optional
  description = "This is an example work type"
  # 0 by default for subtask
  hierarchy_level = -1
}
```

### Jira Premium

Jira Premium allows custom hierarchy levels for work types. [See the Jira Premium documentation for more information](https://support.atlassian.com/jira-cloud-administration/docs/configure-the-issue-type-hierarchy/).

{{.SchemaMarkdown}}
