---
page_title: "jira Provider"
description: |-
  {{.Description}}
---

# jira Provider

{{.Description}}

## Usage

When configuring `jira` provider, there are a few ways to set the required attributes.

The provider block can be empty, and the required attributes can be set via environment variables:

```terraform
provider "jira" {}
```

with

```dotenv
JIRA_ENDPOINT="https://example.atlassian.net"
JIRA_API_EMAIL="some.email@gmail.com"
JIRA_API_TOKEN="someLongToken"
```

The required attributes can also be directly set in the provider block

```terraform
provider "jira" {
  endpoint = "https://jira.example.com"
  api_auth_email = "some.email@gmail.com"
  api_token = "someLongToken"
}
```

There can also be a mixture of the two.

```terraform
provider "jira" {
  endpoint = "https://jira.example.com"
  api_auth_email = "some.email@gmail.com"
}
```

with

```dotenv
JIRA_API_TOKEN="someLongToken"
```

For more information on which attributes can be set for the provider config, please see [Schema](#schema) below.

{{.SchemaMarkdown}}
